body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

h2#description {
  margin-top: 0px;
}

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
  margin-left: auto;
}

time {
  display: block;
  margin-left: auto;
}

em {
  display: block;
  margin-left: auto;
}
