:root {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
}

html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#map {
  width: 100%; /* Adjust width to your desired size */
  height: 100%; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
  /* background: yellow;
  opacity: 50%; */
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map circle {
  pointer-events: auto;
  fill: var(--color);
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}

div.legend {
  display: flex;
  margin-block: 5px;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}

div.legend-left {
  flex: 1;
  text-align: left;
  color: white;
  width: 200px;
  background-color: var(--color-departures);
  padding-left: 175px;
}

div.legend-mid {
  flex: 1;
  text-align: center;
  color: white;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  background-color: var(--color);
  width: 200px;
  padding-left: 150px;
  padding-right: 150px;
}

div.legend-right {
  flex: 1;
  text-align: right;
  color: white;
  width: 200px;
  background-color: var(--color-arrivals);
  padding-right: 175px;
}
